h1{
    width: 51%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
}

body {
    /*background-image: url("https://www.dlr.de/blogs/Portaldata/66/Resources/newsblog/20110319_vollmond.jpg");*/
    /*lower image such that half is on page half is not*/
    /*maybe change eventually to large pic of moon which is center of screen/takes up most of screen and is blurred*/
    background-image: url("C:/Users/Ajb82/website-practice/img/moon.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
    background-size: 100%;
    background-color: black;
    background-position: 2% 200px;
    color: white;   
}

.white-black{
    background-color: black;
    color: white;
    margin-left: 2.4vw;
    border-width: .7vw;
    border-color: white;
    border-style: solid;
    border-radius: 20px;
    width: 23vw;
    padding-right: 1%;
    height: 90%;
    padding-left: .25vw;
}

h2{
    color: white;
    padding-left: 20px;
    font-size: 1.75vw;
}

.socials{
    background-color: black;
    border-radius: 30px;
    border-color: white;
    border-style: solid;
    border-width: .5vw;
    width: 39.1%;
    height: 3vw;
    padding-bottom: 1.5%;
    padding-left: 1%;
    position:absolute;
    top: 2.5%;
    right: 3.07%;
}

.circle{
    color: black;
    background-color: white;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 20px;
    font-size: 1.35vw;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 5%;
    margin-top: 5%;
}

.arrow{
    width: 3vw;
    height: 3vw;
    background-image: url(../img/arrowtwo.png);
    background-repeat: no-repeat;
    position: relative;
    left: .5vw;
}


.links{
    color: black;
}

.links:hover{
    background-color: black;
    color: white;
    border-color: black;
    border-width: 4px;
    border-radius: 20px;   
}

.resume-back{
    background-color: black;
    color: white;
    /*margin-left: 40%;*/
    border-width: .7vw;
    border-color: white;
    border-style: solid;
    border-radius: 3.5%;
    width: 47vw;
    height: 75%;
    top: 10vw;
    right: 10vw;
    position: absolute;
    object-fit: fill;
}

embed{
    border-radius: 10px;
}

.insta{
    position:absolute;
    right:89%;
    top: 10%;
    width:9%;
    height:auto;
}

.facebook{
    position:absolute;
    right:78%;
    top: 10%;
    width:8.7%;
    height:auto;
}

.linkedin{
    position:absolute;
    right:67%;
    top: 10%;
    width:8.5%;
    height:auto;
    background-color: white;
}

.resume{
    width:100%;
    height:100%;
}

@media screen and (max-width: 800px){
    .white-black {
        height: 40%;
    }
}

@media screen and (min-width: 800px){
    .white-black {
        height: 70%;
    }
}

/* maybe try adding mini game in area where rest of logos go for fun*/
/* eventually when wanting to make public domain for fun make it floating images,*/